<!-- banner start -->
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @event.photo %>');">
  <div class="d-flex align-items-end justify-content-center" style="height: 60vh;">
    <h2 class="white banner-name"><%= @event.name %></h2>
    <% if current_user == @event.user %>
      <%= render 'edit_form' %>
    <% end %>
    <p class="banner-p text-break">Best view: <%= @event.date %></p>
    <!-- interest -->
    <div class="int-btn">
      <% if user_signed_in? && current_user.interested_events.include?(@event) %>
        <%= link_to interest_path(@interest), method: :delete, data: { confirm: "You have removed this event from your interest list" } do %>
          <div class = "btn btn-main m-2">Remove Interest</div>
        <% end %>
      <% else %>
        <%= link_to event_interests_path(@event), method: :post, data: { confirm: "You have add this event in your interest list" } do %>
          <div class = "btn btn-main m-2">Interested</div>
        <% end %>
      <% end %>
    </div>
    <!-- interest end -->
  </div>
</div>
<!-- banner end -->
<!-- content start -->
<div class="event-bcard pb-4 justify-content-around ml-4 mr-4">
  <div class="event-card px-3">
    <!-- <div class="col-12 col-sm-12 col-md-6 px-3">-->
    <p>Description: <%= @event.description %></p>
    <p>Access: <%= @event.access %></p>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide float-right" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag (@event.gallery1), class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag (@event.gallery2), class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag (@event.gallery3), class: "d-block w-100" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- event-card -->
<div class="container">
  <div class="row no-gutters mt-4">
    <div class="col-12 col-sm-12 col-md-6 px-2">
      <div class="container">
        <h2>Address</h2>
        <i class="fa fa-map-marker-alt"></i> <%= @event.location %>
      </div>
      <div class="container my-3 d-flex justify-content-between">
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>&callback=initMap"
  type="text/javascript"></script>
        <div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
></div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6">
      <div class="container">
        <h2>Review</h2>
        <% if @event.reviews.present? %>
          <%= render 'reviews/form' %>
          <!-- this is for showing review -->
          <p class="review-comment mt-4">Review comment</p>
          <div class="scroll p-3">
            <% @event.reviews.each do |review| %>
              <div class="d-flex align-self-start mb-2">
                <% if review.user.photo.present? %>
                  <%= cl_image_tag review.user.photo, class: "avatar" %>
                <% else %>
                  <%= image_tag "traveltomo-logo.png", class: "avatar" %>
                <% end %>
                <div>
                  <h6 class="mx-2"><%= review.user.first_name %> <%= review.user.last_name %></h6>
                  <p class="m-2"><%= review.content %></p>
                  <p class="m-2">
                    <% review.rating.to_i.times do  %>
                      <i class="fas fa-star bento-star"></i>
                    <% end %>
                    <% (5 - review.rating).to_i.times do  %>
                      <i class="fas fa-star bento-star-gray"></i>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>Be the first one to review!!</p>
        <% end %>
      </div>
    </div>
  </div>
</div>